@model AppleUsed.Web.Models.ViewModels.PurchasesViewModels.PurchaseDetailsViewModel
@{
    Layout = "/Views/AdministrationNav/_AdministrationLayout.cshtml";
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
@Html.Partial("_StatusMessage", Model.StatusMessage)
