
<nav class="nav_menu">
    <ul>
        <li class="nav_menu_item iphone">
            <a asp-controller="Ad" asp-action="Index" asp-route-titleFilter="iphone">
                <span class="inner_block">
                    <span>iPhone</span>
                </span>
            </a>
        </li>

        <li class="nav_menu_item ipad">
            <a asp-controller="Ad" asp-action="Index" asp-route-titleFilter="ipad">
                <span class="inner_block">
                    <span>iPad</span>
                </span>
            </a>
        </li>

        <li class="nav_menu_item imac_macbook">
            <a asp-controller="Ad" asp-action="Index" asp-route-titleFilter="mac">
                <span class="inner_block">
                    <span>Mac и Macbook</span>

                </span>
            </a>
        </li>
        <li class="nav_menu_item apple">
            <a asp-controller="Ad" asp-action="Index">
                <span class="inner_block">
                    <span>Apple товары</span>

                </span>
            </a>
        </li>
    </ul>
</nav>

