
<form asp-area="" asp-controller="Ad" asp-action="Index" method="get" id="searchForm">
    <div class="serach-tab col-lg-12">
        <div class="weapper">
            <div class="col-lg-2"></div>
            <div class="inline-block col-lg-8">
                <div class="padding">
                    <input class="search-by-prod-name" type="text" name="titleFilter" placeholder="Например: MacBook Pro" />
                </div>
                <div class="padding">
                    <input class="serch-by-location" type="text" name="cityFilter" placeholder="Например: Киев" />
                </div>
                <div class="padding">
                    <button class="btn btn-success btn-main-search">Найти!</button>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</form>