

<form asp-area="" asp-controller="Ad" asp-action="Index" method="get" id="searchForm">
    <div class="serach-tab">
        <div class="col-lg-1"></div>
        <div class="row">
            <div class="col-lg-3">
                <input class="form-control" type="text" name="titleFilter" placeholder="Например: MacBook Pro" />
            </div>
            <div class="col-lg-3">
                <input class="form-control" type="text" name="cityFilter" placeholder="Например: Киев" />
            </div>
            <div class="col-lg-3">
                <button class="btn btn-success btn-block">Найти!</button>
            </div>
        </div>
        <div class="col-lg-1"></div>
    </div>        
</form>