body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

}

a {
    color: #5cb85c;
    text-decoration: none;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #5cb85c;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #5cb85c;
}

/*Navbar start*/

    .navbar-green {
        background-color: #5cb85c;
        border-color: #5cb85c;
    }

    .navbar-brand {
        color:white;
    }

        .navbar-brand:hover {
            color: white;
        }

.navbar-green .navbar-nav > li > a {
    color: white;
}
    .navbar-green .navbar-nav > li > a:hover {
        color: white;
        background-color: #56ad56;
    }

    a {
        color: #5cb85c;
    }

    a:hover {
        color: #3c763d;
        text-decoration: none;
    }

    .nav-bar-logout-btn{
        background-color:transparent;
        color:white;
        border-color:white;
    }

    .nav-bar-logout-btn:hover {
        color: white;
    }

        /*Navbar End*/

/*SerachBar Start*/

.serach-tab {
    min-height: 70px;
    border-bottom: 1px solid #5cb85c;
    margin-top: 2%;
    margin-bottom: 2%;
}

.inline-block {
    display: inline-block;
    margin-left: 1px;
}


.search-by-prod-name, .serch-by-location {
    border: 1px solid silver;
    border-radius: 4px;
    height: 40px;
    width: 220px;
    padding: 7px;
}

.btn-main-search {
    padding: 9px 85px;
}


/*SerachBar End*/


.nav_menu_item, .inner_nav li {
    float: left;
    margin-bottom: 23px;
    width: 150px;
    margin-right: 13px;
    list-style: none;
    height: 40px;
}

.nav_menu ul li {
    height: auto;
    margin: 0;
    float: none;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    background-size: 100px;
    background-position: center 15px;
    background-repeat: no-repeat;
    text-align: center;
    /*margin-right: 10px;*/
    border-radius: 6px;
    border: 1px solid #5cb85c;
    background-color: #fff;
    margin-left: 7%;
}

    .nav_menu ul li:hover {
        box-shadow: 0 8px 10px 1px rgba(92, 184, 92, 0.22);
    }


    .nav_menu .nav_menu_item a > span, .nav_menu .inner_nav li a > span {
        padding: 10px 0;
        display: block;
        color: #000;
        background-color: #f5f5f5;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }

.nav_menu .nav_menu_item a, .nav_menu .inner_nav li a {
    position: relative;
    display: block;
    color: #b5b5b5;
    font-weight: 100;
    padding-top: 135px;
    padding-bottom: 0;
}

.nav_menu ul li.iphone {
    background-image: url(../images/iPhone_X.png);
    background-size: 130px;
}

.nav_menu ul li.ipad {
    background-image: url(../images/iPad.png);
    background-size: 130px;
}

.nav_menu ul li.imac_macbook {
    background-image: url(../images/macbook.png);
    background-size: 130px;
}

.nav_menu ul li.apple {
    background-image: url(../images/apple-watch-air-pods.png);
    background-size: 130px;
}


.form-label-body-text {
    font-size: 20px;
    padding-top: 10px;
}

/*.scrollbox {
    overflow-y: scroll;
}*/

.scrollbox-models {
    max-height: 300px;
    /*overflow-y: scroll;*/
}

.scrollbox-memmories {
    max-height: 200px;
    /*overflow-y: scroll;*/
}


.ad-filter-area{
    float:left;
}

.form-label-body-chekbox-list {
    font-size:12px;
    list-style: none;
}

/*Ad list start*/
.ad-list {
    margin-bottom: 20px;
    padding-top: 1px;
    float: right;
}

    .ad-list li .ad-in {
        height: auto;
        width: 100%;
        min-height: 140px;
    }

    .ad-list li {
        display: inline-block;
        vertical-align: top;
        list-style: none;
        width: 24%;
        /*margin: 0 0 1% 0;*/
        transition: .2s;
        width: 100%;
    }

    .ad-in {
        background: #fff;
        border-radius: 2px;
        position: relative;
        width: 100%;
    }

.ad-list .ad-title {
    font-size: 17px;
    line-height: 120%;
    min-height: 26px;
    height: auto;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.ad-title-text {
    padding: 3px;
    font-size: 20px;
    margin-top: 5px;
}
    .ad-title-text:hover {
        padding:3px;
        background-color: #5cb85c;
        color:white;
    }

    .ad-price-text {
        float: right;
        font-size: 20px;
    }

.location {
    color: #9b9b9b;
    font-size: 11px;
    font-weight: 400;
}

.last-modifaed {
    font-size: 12px;
    color: #9b9b9b;
}



/*Ad list end*/

/*Ad Details start*/


.ad-title-details {
    font-size: 30px;
}

.ad-price {
    text-align: center;
    font-size: 30px;
}

.Content > .Contact-Bar {
    float: right;
}

.Content > .ad-Content {
    float: left;
}
.Content{
    display:inline-block;
}

.ad-simple-info{
    padding: 7px;
}

.ad-base-info {
    padding: 2%, 0, 2%, 0;
}

.ad-simple-info > table > thead > tr > th {
    font-size: 12px;
    padding: 7px;
}

.ad-simple-info > table > thead > tr > td {
    font-size: 12px;
    padding: 7px;
}

.ad-base-info > table > thead > tr > th {
    width: 120px;
    font-size: 15px;
    padding: 7px;
}


    .ad-base-info > table > thead > tr > td {
    width: 120px;
    font-size: 15px;
    padding: 7px;
}


.ad-full-description {
    width: 92%;
    padding: 7px;
    font-size: 17px;
}

.form-control:active {
    border-color: #5cb85c;
}
.form-control:focus {
    border-color: #5cb85c;
}


.photo {
    text-align: center;
    background-color: #eee;
    border-radius: 4px;
}

.Ad-Photos {
    text-align: center;
    background-color: #eee;
    border-radius: 4px;
}


.dot {
    height: 30px;
    width: 30px;
    background-color: #90cf90;
    border-radius: 50%;
    display: inline-block;
}

.chat__body {
    display: none;
    position: relative;
    background-color: #f2f2f2;
    overflow: scroll;
    overflow-x: hidden;
}



.chat__main .__chat__ {
    padding: 15px 15px;
    border-radius: 20px;
    margin: 20px 20px 0px 20px;
    width: 45%;
}

        .chat__body .chat__main .__chat__ p {
            font-weight: 400;
        }

            .chat__body .chat__main .__chat__ p.delivery-status {
                display: none;
                font-size: 12px;
                float: right;
                top: -10px;
                position: relative;
            }

        .chat__body .chat__main .__chat__.from__chat {
            background-color: #d9d9d9;
        }

.chat__body .chat__main .__chat__.receive__chat {
    background-color: #5cb85cad;
    float: right;
    color: #fff;
}

    .chat__body {
        /*position: absolute;*/
        height: 50px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
    }

.chat__type__body {
    /*position: absolute;*/
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

        .chat__body {
            background-color: #e6e6e6;
            width: 100%;

        }

.chat__type__body .chat__type {
    background-color: #e6e6e6;
    width: 100%;
    text-align:center;
}

.chat__body{
    height:500px;
}

.chat__body  {
    background-color: inherit;
    padding: 10px 10px 0px;
    border: none;
    display: inline-block;
}

.chat__type__body .chat__type textarea {
    background-color: inherit;
    width: 85%;
    padding: 10px 10px 0px;
    border: none;
    display: inline-block;
}

            .chat__body .chat__type__body .chat__type #sendMessage {
                position: relative;
                display: inline-block;
                top: -15px;
                width: 14%;
            }

    .chat__body .typing_display__open {
        bottom: 30px;
    }

    .chat__body .chat__typing {
        position: absolute;
        display: none;
        height: 30px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin-bottom: 0px;
        background-color: #f2f2f2;
        padding: 5px;
    }

        .chat__body .chat__typing span {
            font-style: italic;
            font-size: 12px;
            color: #999999;
        }

._last_message {
    height: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    color: white;
    background-color: #5cb85cad;
    padding: 5px;
    border-radius: 5px;
}

.small_text {
    font-size: 11px;
}