
@model AppleUsed.Web.Models.ViewModels.AdViewModels.AdIndexViewModel

<div class="ad-list col-sm-12">

    <h3>Новые объявления</h3>

    <div class="row">

        <div class="col-lg-3">
            <div class="btn-group" role="group">

                    <input type="hidden" name="adType" id="FilteringValue"/>
                    <button onclick="FilteringByAllProducts()" class="btn btn-default">Все</button>
                    <button onclick="FilteringByUsedProducts()" class="btn btn-default">Б/У</button>
                    <button onclick="FilteringByNewProducts()" class="btn btn-default">Новые</button>

            </div>
        </div>
        <div class="col-lg-6"></div>
        <div class="col-lg-3">

            <input type="hidden" asp-for="SortViewModel.SortOptionList" />

            <select asp-for="SortViewModel.SelectedOptionValue" asp-items="Model.SortViewModel.SortOptionList" id="option" onchange="SelectedOptionChanged()" class="form-control">
                <option disabled="disabled" value="0" selected="selected">Сортировка</option>
            </select>

        </div>

    </div>

    <hr />
</div>

<script type="text/javascript">

    var All = "Все";
    var Used = "Б/У";
    var New = "Новые";

    function FilteringByAllProducts() {

        $('#page').val("");
        $('#FilteringValue').val(All);
        $.get("/Index", { model: @Model });

    }

    function FilteringByUsedProducts() {

        $('#page').val("");
        $('#FilteringValue').val(Used);
        $.get("/Index", { model: @Model });

    }

    function FilteringByNewProducts() {

        $('#page').val("");
        $('#FilteringValue').val(New);
        $.get("/Index", { model: @Model });

    }

    function SelectedOptionChanged() {

        $('#page').val("");
        $('#Filtering').submit();

    }



</script>