@model AppleUsed.Web.Models.ViewModels.AdViewModels.AdViewModel
@using Newtonsoft.Json

@{
    ViewData["Title"] = "View";
}

<br />

<h4>Новое Объявление </h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveAd" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <blockquote style="border-left:5px solid #5cb85c">
                <p> Заполните объявление </p>
            </blockquote>

            <div class="form-group">
                <label class="control-label">Заголовок : </label>
                <input asp-for="AdDTO.Title" class="form-control" />
                <span asp-validation-for="AdDTO.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Стоимость : </label>
                <input asp-for="AdDTO.Price" class="form-control" />
                <span asp-validation-for="AdDTO.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Выберите категорию : </label>
                <select asp-for="AdDTO.SelectedProductType" asp-items="Model.ProductTypesSelectList" id="ProductType" class="form-control">
                    <option selected="selected" disabled="disabled">Выберите модель</option>
                </select>
            </div>
            <div class="form-group" id="ProductModel">
                <label class="control-label">Выберите модель : </label>
                <select asp-for="AdDTO.SelectedProductModel" asp-items="Model.ProductModelsSelectList" id="ProductModelItems" class="form-control">
                    <option selected="selected" disabled="disabled"> </option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Память : </label>
                <select asp-for="AdDTO.SelectedProductMemory" asp-items="Model.ProductMemoriesSelectList" class="form-control">
                    <option selected="selected" disabled="disabled"> </option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Цвет : </label>
                <select asp-for="AdDTO.SelectedProductColor" asp-items="Model.ProductColorsSelectList" class="form-control">
                    <option selected="selected" disabled="disabled"> </option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Состояние : </label>
                <select asp-for="AdDTO.SelectedProductStates" asp-items="Model.ProductStatesSelectList" class="form-control">
                    <option selected="selected" disabled="disabled"> </option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Описание товара : </label>
                @Html.TextAreaFor(m => m.AdDTO.Description, new { @class = "form-control", @row = 3 })
                <span asp-validation-for="AdDTO.Description" class="text-danger"></span>
            </div>

            <div class="form-group" id="Areas">
                <label class="control-label">Ваша Область  : </label>
                <select asp-for="AdDTO.SelectedCityArea" asp-items="Model.CityAreasSelectList" id="AreasList" class="form-control">
                    <option selected="selected" disabled="disabled"> </option>
                </select>
            </div>

            <div class="form-group" id="CityAreas">
                <label class="control-label">Ваш город  : </label>
                <select asp-for="AdDTO.SelectedCity" asp-items="Model.CityesSelectList" id="CityAreasList" class="form-control">
                    <option selected="selected" disabled="disabled"> </option>
                </select>
            </div>

            <blockquote style="border-left:5px solid #5cb85c">
                <p>Фото товара : </p>
            </blockquote>

            <div class="form-group">
                <div id="Product-Photos">
                    <input name="Photos" type="file" class="form-control" />
                    <input name="Photos" type="file" class="form-control" />
                    <input name="Photos" type="file" class="form-control" />
                    <input name="Photos" type="file" class="form-control" />
                    <input name="Photos" type="file" class="form-control" />
                    <p></p>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Подать" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $('#ProductModel').hide();
    });

    $('#ProductType').on('change', function () {

        let selectedProductType = this.value;

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetProductModelsSelectList")",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: {
                selectedProductTypeId: selectedProductType
            },
            success: function (data) {
       
                var items = '';
                $('#ProductModelItems').empty();

                $.each(data, function (i, selectedModel) {
                    items += "<option value='" + selectedModel.value + "'>" + selectedModel.text + "</option>";
                });

                $('#ProductModelItems').html(items);

                console.log(items);

                $('#ProductModel').show();
                data.empty;
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    });

    $('#AreasList').on('change', function () {

        let selectedCityAarea = this.value;

        console.log(selectedCityAarea);

        $.ajax({
            type: "POST",
            url: "@Url.Action("GetAreasCitySelectList")",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: { selectedCityAareaId: selectedCityAarea } ,
            success: function (data) {
       
                var items = '';
                $('#CityAreasList').empty();

                $.each(data, function (i, cityeAreas) {
                    items += "<option value='" + cityeAreas.value + "'>" + cityeAreas.text + "</option>";
                });

                $('#CityAreasList').html(items);

                console.log(items);
                data.empty;
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    });

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
