@model List<AppleUsed.BLL.DTO.AdDTO>

@{
    ViewData["Title"] = "View";
}

<form asp-area="" asp-controller="Ad" asp-action="Index" method="get" id="searchForm">
    <div class="serach-tab col-lg-12">
        <div class="weapper">
            <div class="col-lg-2"></div>
            <div class="inline-block col-lg-8">
                <div class="padding">
                    <input class="search-by-prod-name" type="text" name="searchByProdName" value="" placeholder="Например: MacBook Pro" />
                </div>
                <div class="padding">
                    <input class="serch-by-location" type="text" name="searchWithLocation" value="" placeholder="Например: Киев" />
                </div>
                <div class="padding">
                    <button class="btn btn-success btn-main-search">Найти!</button>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</form>

<h2>Топ-объявления</h2>


<div class="ad-list">


    @{ foreach (var item in Model)
        {

            string imgSrc = "";
            if (item.PhotosList.FirstOrDefault() != null)
            {
                var base64 = Convert.ToBase64String(item.PhotosList.FirstOrDefault().Photo);
                imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
            <ul>
                <li>
                    <div class="ad-in">

                        <div class="ad-photo pull-left">
                            <a target="_blank" href="#">
                                @if (!String.IsNullOrEmpty(imgSrc))
                                {
                                    <img style='width:170px; height:130px;' src="@imgSrc" />
                                }
                            </a>
                        </div>

                        <div class="ad-description">
                            <div class="location-and-last-modifaied">
                                <span>
                                    <a class="ad-title-text" target="_blank" href="#">@item.Title</a>
                                </span>
                                <span class="ad-price-text">
                                    <b>@item.Price  .грн</b>
                                </span>
                                <span class="location">г. Киев</span>
                                <span class="last-modifaed">@item.DateUpdated</span>
                            </div>
                            <span class="ad-description">Продам iPhone 6 на 16 Gb. В идеальном состоянии. В подарок два чехла и стоит защитное стекло.</span>

                        </div>
                    </div>
                </li>
            </ul>
            <hr />

        }

    }
</div>
