@model AppleUsed.Web.Models.ViewModels.AdViewModels.AdIndexViewModel
@{
    ViewData["Title"] = "View";
}


@await Html.PartialAsync("_SearchBarPartial")


@*<div class="ad-filter-area col-sm-pull-2">

        <div class="form-group-sm">

            <form asp-area="" asp-controller="Ad" asp-action="Filter" method="post" id="searchForm">




                <div>
                    Html.TextBoxFor(x => x.FilterMinPrice);
                    <input type="text" placeholder="от" /> - <input type="text" placeholder="до" />
                </div>



                <div class="label__body">

                    { foreach (var c in Model.ProductColorsFilterItems)
                        {


                            Html.CheckBox(c.Key, c.Value)



                        }
                    }
                </div>

                <button class="btn btn-success btn-main-search">Найти!</button>

            </form>
        </div>
    </div>*@


<h2>Топ-объявления</h2>


<div class="ad-list col-sm-push-10">


    @{ foreach (var item in Model.AdDTO)
        {

            string imgSrc = "";
            if (item.PhotosList.FirstOrDefault() != null)
            {
                var base64 = Convert.ToBase64String(item.PhotosList.FirstOrDefault().Photo);
                imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }
            <ul>
                <li>
                    <div class="ad-in">

                        <div class="ad-photo pull-left">
                            <a target="_blank" href="~/Ad/AdDetails/@item.AdId">
                                @if (!String.IsNullOrEmpty(imgSrc))
                                {
                                    <img style='width:170px; height:130px;' src="@imgSrc" />
                                }
                            </a>
                        </div>

                        <div class="ad-description">
                            <div class="location-and-last-modifaied">
                                <span>
                                    <a class="ad-title-text" target="_blank" href="~/Ad/AdDetails/?id=@item.AdId">@item.Title</a>
                                </span>
                                <span class="ad-price-text">
                                    <b>@item.Price  .грн</b>
                                </span>
                                <span class="location">г. Киев</span>
                                <span class="last-modifaed">@item.DateUpdated</span>
                            </div>
                            <span class="ad-description">Продам iPhone 6 на 16 Gb. В идеальном состоянии. В подарок два чехла и стоит защитное стекло.</span>

                        </div>
                    </div>
                </li>
            </ul>
            <hr />

        }

    }
</div>
